.card {
    padding: 0.625rem;
    margin: 1rem 0.25rem 0 0.25rem;
}

.card:nth-of-type(1) {
    margin-top: 0.75rem;
}

.card__container {
    border: 0.0625rem solid var(--color_grey_light);
    box-shadow: 0 0.625rem 1.25rem 0 rgba(0, 0, 0, 0.05);
    font-family: 'Muli', sans-serif;
    list-style: none;
}

@media (min-width: 480px) {
    .card {
        display: inline-block;
        flex: 1 0 calc(50% - 1.875rem);
        max-width: calc(50% - 1.875rem);
    }

    .card:nth-of-type(2) {
        margin-top: 0.75rem;
    }
}

@media (min-width: 768px) {
    .card {
        display: inline-block;
        flex: 1 0 calc(25% - 1.875rem);
        max-width: calc(25% - 1.875rem);
    }

    .card:nth-of-type(3),
    .card:nth-of-type(4) {
        margin-top: 0.75rem;
    }
}
