.card {
    margin: var(--spacing_m) var(--spacing_s);
    padding: .625rem;
}

.card__text {
    border: .0625rem solid var(--color_grey_light);
    box-shadow: 0 .625rem 1.25rem 0 rgba(0,0,0, 0.05);
    font-family: 'Muli', sans-serif;
    list-style: none;
}
