.input {
    display: flex;
    height: 3.25rem;
}

.input__container {
    border: 0.0625rem solid var(--color_grey);
}

.input__text {
    border-width: 0;
    border-left: 0.0625rem solid var(--color_grey);
    font-family: 'Muli', sans-serif;
    font-size: 0.875rem;
    padding-left: var(--spacing_m);
    width: 100%;
}

.input__image {
    align-self: center;
    height: calc(50%);
    margin: var(--spacing_m);
    padding-left: 0.75rem;
}
