.tag {
    margin: 4px;
    padding: 4px 8px;
}

.tag__text {
    background: #fcfcfc;
    border-radius: 30px;
    border: 0.0625rem solid #ececec;
    color: #777;
    display: flex;
    display: inline-block;
    font-size: 0.6875rem;
    list-style: none;
}
